.nav-link{
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    padding: 5px;
    margin: 0 6px 6px;
    background: rgb(149, 0, 255);
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: rgb(0, 0, 0);
}

.active {
    color: rgb(255, 255, 255);
}